*{
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
}

.flexbox{
    display: flex;
    justify-content: center;
    width: 100%;
}

body{
    color: white;
}

#main-doc{
    background-color: blue;
    /* max-width: 60%; */
    width: 80%;
}

nav{
    background-color: red;
    /* max-width: 40%; */
    width: 20%;
}